
/*hintergrund */
body {
	line-height: 1.3;
	font-family: sans-serif;
	font-size: 100%;
	overflow-y:scroll;
	overflow-x: auto;  
	background-image:url(Bilder/background.gif);
   margin:auto;
   width: auto;  
}
p{
float:left;	
}
/*körper und wo alle rein kommt */
#main{
position: relative;
margin-left: 7%;
padding:60px;
left: 98px;
width:1266px;
height:2000px;
border:3px;
background:darkblue;

}
/*Kopf Leiste mit Suchen, Suchbutton, Logo*/
#header {
	position: fixed;
	border:1px solid;
	display: table;
	top: 0%;
	width: 1345px;
	height: 50px;
	left: 12.1%;
	padding: 10px 20px 2px;
	background: #B80F0A;
	border-radius: 10px;
	box-shadow: black;
	clear: both;
	z-index: 99;
}

/*Such leiste */
.Suchen {
	position: fixed;
	left:380px ;
	top: 4px ;
	color:whitesmoke ;
	z-index: 99;
}

/*Such button */
.Sbutton{
position: fixed;
left: 1194px;
top:9px;
}


/*Logo und Home Button */
.HomeB {
position: fixed;
top: 2%;
left: 12.3%;
	z-index: 99; 
}


/*Login Button sowie Sign Button */
.btn-group button {
	position: relative;
	left: 1180px	;
	background-color: blue; 
	border: 1px solid green;
	color: white; 
	padding: 10px 24px; 
	cursor: pointer; 
	float: left; 
  }
  .btn-group button:not(:last-child) {
	border-right: none; 
  }
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  .btn-group button:hover {
	background-color: black;
  }


/*Go up Button mit Javascript verbunden */
#myBtn {
	position: fixed; 
	height: auto;
	width: auto;
	bottom: 50px; 
	right: 15%; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: black; 
	color: white; 
	cursor: pointer; 
	padding: 5px; 
	border-radius: 4px;  
  }
  
  #myBtn:hover {
	  color: black;
	background-color:red ; 
  }


/*Anime Text und Manga Text Hauptcontainer*/
 #Text{
position: relative;
width: 500px;
height: 10px;
color: gray;
padding: 2px;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
left: 0%;

 }
/*Anime Text genau */
 .AnimeText{
	 position: absolute;
	 left: 5px; ;
	 top:1200px ;
}
.AnimeText a:hover{
	color: white;
}
/*Manga Text */
 .MangaText{
	 position: absolute;
	 left: 5px; ;
	 top:1500px ;
}
.MangaText a:hover{
	color: white;
	
}
a:link, a:visited {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	color:#CF9FFF;
		
	
}



.Fußzeile{
	position: absolute;
	bottom:1px ;
	text-indent: 2px;
	left:0.3px;
	width: 1346px;
	height: 100px;
	z-index: 59; 
	padding: 10px 20px;
	background: #B80F0A;
	color: white;
	text-align: left;

}
.Fußzeile img{

height: 30px;
width: 30px;
margin: 30px;
}
.Fußzeile a:hover{
color: white;

}




/*Scrollbars Container*/
#ScrollPosition{
position: absolute;
color: gray;

}

/*Manga Trend  */
.Überschrift3{
	width:100px;
	color:white ;
	position: absolute;
	top: 30px;
	left: 10px;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}
.ScrollMT {
	position:absolute;
	border:1px solid black;
	overflow-y:scroll;
	overflow-x:hidden;
	white-space: nowrap;
	z-index: 0;
	height: 300px;
	width: 568px;
	top: 100px;
	left: 10px;
	text-align:left;
	margin: 10%;
  }
  .ScrollMT a {
	display: inline-block;
	color:black;
	text-align:center;
	padding: 14px;
	text-decoration: none;
  }
.ScrollMT a:hover {
	background-color:grey;
  }
  .ScrollMTButton{
	position: absolute;
	top: 100px;
	left: 522px;
}



/*Anime Info Seite 2 */
.AnimeInformation {
	position: absolute;
	background-color:#B80F0A;
	height: 900px;
	width: 368px;
	bottom: 600px ;
	left:20px;
	font-size: small;
  }

/*Anime Bild Seite 2 */
  .AnimeImage{
	position: absolute;
	height: 200px;
	width: 218px;
	top: 300px ;
	left:20px;
	background-color:green;
  }
/*Anime Title Seite 2 */
  .AnimeTitle{
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
	padding: 0%;
	color: white;
	text-align:left;
	text-decoration: solid;
	
	}

/*Anime Saison */
.Überschrift4{
	color:white ;
	position: absolute;
	top: 900px ;
	left:740px;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}

  .SAnimeSaison {
	position: absolute;
	color: gray;
	border:1px solid black;
	overflow-y:scroll;
	overflow-x:hidden;
	white-space: nowrap;
	height: 300px;
	width: 568px;
	top: 1000px ;
	left:740px;
	text-align:left;
	margin: 10%;
  }
  .SAnimeSaison a {
	display: inline-block;
	color:black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
.SAnimeSaison a:hover {
	background-color:grey;
  }
  .AnimeSaisonButton{
	position: absolute;
	top: 1005px ;
	left:1232px;
}


/*Anime Saison Hits */
.Überschrift2{
	width:100px;
	color:white ;
	position: absolute;
	left: 10px;
	top:420px;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}
  .AnimeSaisonH{
	position: absolute;
	color: gray;
	border:1px solid black;
	overflow-y:scroll; 
	overflow-x:hidden;
	white-space: nowrap;
	height: 300px;
	width: 568px;
	left: 10px;
	top:500px;
	text-align:left;
	margin: 10%;
  }
  .AnimeSaisonH a {
	display: inline-block;
	color:black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
.AnimeSaisonH a:hover {
	background-color:grey;
  }
  .AnimeSaisonHButton{
	position: absolute;
	left: 522px;
	top:500px;
}


/*Menu Anime Trailer*/
.Überschrift1{
	width:100px;
	color:white ;
	position: absolute;
	left:950px;
	top: 1340px ;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
	}

  .SCAnimeTrailer {
	border:1px solid black; 
	position: absolute;
	color: gray;
	padding: 20px;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space: nowrap;
	height: 286px;
	width: 568px;
	top: 1389px ;
	left:700px;

	margin-left: 5%;
	margin-right: 5%;
  }
  

  .SCAnimeTrailer a {
	display: inline-block;
	color:yellow;
	padding: 100px;
  }
.SCAnimeTrailer a:hover {
	background-color:grey;
  }
.SCAnimeTrailer img{
	text-align: center;
	vertical-align: top;
}
.SCAnimeTrailerButton{
	position: absolute;
	top: 1389px ;
	left:1263px;
}


/*F=Freunde S=Schule Q=Quelle W=Webseite */
.Überschrift5{
	width:100px;
	color:white ;
	position: absolute;
	left: 700px;
	top: 150px;;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}
.FSQW{
	position: absolute;
	border:1px solid wheat;
	white-space: nowrap;
	height: 650px;
	width:568px;
	left: 700px;
	top: 200px;;
	text-align:left;
	margin: 10%;
  }
  .FSQW a {
	display: inline-block;
	color:white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
.FSQW a:hover {
	background-color:grey;
  }

/*Kurzfassung*/
.Überschrift9{
	color:white ;
	position: absolute;
	top:230px ;
  	left:780px;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}
.AnimeKF{
	position: absolute;
	width: 600px;
	left:600px;
	top:270px ;
	font-size:14px ;
	font-family:Arial, Helvetica, sans-serif ;
	color:white ;
	text-align: left;
	
	}

  /*Seite 2 Anime Related */
  .Überschrift6{
	  width:100px;
	color:white ;
	position: absolute;
	top: 989px;
  	left:780px;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}
.AOTAnimeRelated {  
  position: absolute;
  border:1px solid black;
  padding: 20px;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  height: 176px;
  width: 568px;
  top: 1069px;
  left:500px;
  margin-left: 5%;
  margin-right: 5%;
}
.AOTAnimeRelated img{
	position: absolute;
	left:80px;
	width: 150px;
	height:150px;
	}
.AOTAnimeRelated  a {
  display: inline-block;
  color:black;
  padding: 1px;
  text-align: center;
  vertical-align: top;
}


.AOTAnimeRelated  a:hover {
  background-color:grey;
}
.AOTAnimeRelatedButton{
	position: absolute;
	top: 1069px;
	left:1131px;
	}


	/*Seite 2 Anime Voice Actors */
	.Überschrift7{
		color:white ;
		position: absolute;
		top: 629px ;
 		left:800px;
		padding: 2px;
		font-size: 30px;
		font-family:Arial, Helvetica, sans-serif;
		text-align: left;	
	}	
.AOTAnimeVoiceChar {
	position: absolute;
    border:1px solid black;
  padding: 20px;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  height: 176px;
  width: 568px;
  top: 679px ;
  left:500px;
  margin-left: 5%;
  margin-right: 5%;
}
.AOTAnimeVoiceChar a {
  display: inline-block;
  color:black;
  padding: 1px;
  text-align: center;
  vertical-align: top;
}
.AOTAnimeVoiceChar a:hover {
  background-color:grey;
}
.AOTAnimeVoiceCharButton{
position: absolute;
top: 679px ;
left:1131px;
}


/*Seite 2 Anime Videos */
.Überschrift8{
	color:white ;
	position: absolute;
	top: 1309px ;
	left:700px;
	padding: 2px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;	
}
.AOTVIDEOS {
  position: absolute;
  border:1px solid black;
  padding: 20px;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  height: 336px;
  width: 568px;
  top: 1369px ;
  left:500px;
  margin-left: 5%;
  margin-right: 5%;
}
.AOTVIDEOS a {
  display: inline-block;
  color:black;
  padding-top: 650px;
  text-align: center;
  vertical-align: top;
}
.AOTVIDEOS a:hover {
  background-color:grey;
}
.AOTVIDEOSButton{
	position: absolute;
	top: 1370px ;
	left:1131px;
}


/*Verbindung mit der Scrollbar und änderung der Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
 
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }


  /*Media query */ 
  @media screen and (min-width: 500px) {
	.ScrollPosition	{
		position: relative;
		min-width: 100px;
		min-height: 100px;
		left: 0%;
	}
	
	}

@media print {
	img{
		display: none;
	
	}
	#header,.HomeB{
		display: block;
		top: 0%;
	}
	.Fußzeile{
		display: block;
		bottom: 0%;
		height:50px ;
		width: 50px;
	}
	#Text{
		font-size: medium;
		left: 5%;
		bottom: 40%;
	}
	.AnimeInformation{
		left: 0%;
		top: 20%;
	}
	iframe{
		display: none;
	}
	.AnimeImage{
		display:block;
		left: 0%;
		top: 10px;
	}
	.ScrollPosition{
		display: none;
	}
	}
